html {
        -webkit-font-smoothing: antialiased;
}

body{
  color: #222;
  background-color: #fff;
  font-family: Roboto, helvetica, sans-serif;
}

html, body. div{
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
}

.nav {
  background-color: #fff;
  width: 100%;
  vertical-align: middle;
  z-index: 100;
  position: fixed;
  border-bottom: 1px solid #f2f2f2;
}

.nav a {
  color: #5a5a5a;
  text-decoration: none;
}

.nav li {
  font-size: 11px;
  font-weight: bold;
  display: inline;
  text-transform: uppercase;
  font-family: Raleway, helvetica, sans-serif;
  font-size: 1.2em;
}

.jumbotron {
  background-image:url('../images/temp-bg.jpeg');
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 0px;
  margin-bottom: 0px;
}

.links-container {
  margin-left: 0px;
  margin-right: 0px;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.section-title-black, .section-title-white {
  font-family: Raleway, helvetica, sans-serif; 
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 2em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border-radius: 200px;
  -webkit-border-radius: 200px; 
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  height: 2.1em;
}

.section-title-black {
  color: black;
  border: 1px solid black;
}

.section-title-white {
  color: white;
  border: 1px solid white;
}

.section-title-white h1, .section-title-black h1 {
  margin-top: 10px;
}

.dark-section {
  background-color: #333;
  padding-top: 0.7em;
  padding-bottom: 7em;
}

.me-nutshell{
  width: 400px;
  height:400px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  border-radius: 200px;
  -webkit-border-radius: 200px; 
  margin-top: 200px;
  text-align: center;
  padding-top: 150px;
  color: #fff;
}

.me-nutshell h2 {
  font-family: Bitter, times, serif;
  font-size: 3em;
  font-weight: 300;
}

.me-nutshell p {
  font-family: Roboto, helvetica, sans-serif;
  font-size: 1.6em;

}

.about-me {
  margin-bottom: 7em;
}

.my-photo, .my-description {
  vertical-align: middle;
}

.my-photo {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.my-description, .location-details{
  font-size: 1.8em;
  font-weight: 300;
  margin-left: 1.5em;
}

.location-details, .city-map {
  vertical-align: middle;
}

.my-photo img{
  border-radius: 200px;
  -webkit-border-radius: 200px; 
}

.city-map {
  width: 364px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
}

.city-map img {
  order-radius: 200px;
  -webkit-border-radius: 200px; 
}

.my-work {
  margin-bottom: 2em;
}

.my-details{
  margin-bottom: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.location-details ul, .my-description ul {
  list-style-type: none;
}

.location-details a {
  text-decoration: none;
  color: #222;
}

.nav a:hover, .location-details a:hover {
  color: #308E83;
}

.portfolio-box {
  margin-top: 6em;
  padding: 0px;
  text-align: center;
  width: 600px;
  height: 257px;
}

.portfolio-box:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(48,142,131,0.2);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.portfolio-box:hover:after {
    opacity: 1;
}

.portfolio-intro {
  font-size: 1.8em;
  font-weight: 300;
  color: #fff;
  text-align: center;
  margin-bottom: 1.5em;
}

#first-box {
  margin-top: 1.5em
}

.fa-heart {
  color: red;
}

.contact-info {
  margin-top: 3em;
  margin-bottom: 7em;
}

.fa-paper-plane {
  margin-top: 1.5em;
}


/*** RESPONSIVE ELEMENTS FOR SMALL SCREENS ***/

@media (max-width: 991px) {

  .col-md-4, .col-md-5, .col-sm-12 {
    text-align: center;
  }

  .navbar-header {
      float: none;
      background-color: #fff
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
    background-color: #fff;
    border: 1px solid #5a5a5a;
  }

.navbar-toggle .icon-bar {
    background-color: #5a5a5a;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;

  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  .navbar-collapse.collapse {
    display: none!important;
  }

  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }

  .navbar-nav>li {
    float: none;
  }

  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
}
}

