html {
        -webkit-font-smoothing: antialiased;
}

body{
  color: #222;
  background-color: #fff;
  font-family: Roboto, helvetica, sans-serif;
}

.nav{
  margin-top: 0.75em;
  background-color: #fff;
}

.nav a {
  color: #5a5a5a;
}

.nav li {
  font-size: 11px;
  font-weight: bold;
  display: inline;
  text-transform: uppercase;
  font-family: Raleway, helvetica, sans-serif;
  font-size: 1.2em;
}

.jumbotron {
  background-image:url('../images/temp-bg.jpeg');
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 0px;
  margin-bottom: 0px;
}

.links-container {
  margin-left: 0px;
  margin-right: 0px;
}

ul.pull-left {
  padding-left: 0px;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.section-title {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.section-title h1 {
  font-family: Raleway, helvetica, sans-serif; 
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 2em;
  padding: 10px;
  /*
  background-color: #308E83;
  */
  background-color: #2a7b71;
  color: #fff;
}

.dark-section {
  background-color: #333;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

.me-nutshell{
  width: 400px;
  height:400px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  border-radius: 200px;
  -webkit-border-radius: 200px; 
  margin-top: 100px;
  text-align: center;
  padding-top: 150px;
  color: #fff;
}

.me-nutshell h2 {
  font-family: Bitter, times, serif;
  font-size: 3em;
  font-weight: 300;
}

.me-nutshell p {
  font-family: Roboto, helvetica, sans-serif;
  font-size: 1.6em;

}

.about-me {
  margin-bottom: 2em;
}

.my-photo, .my-description {
  vertical-align: middle;
}

.my-description, .location-details{
  font-size: 1.8em;
  font-weight: 300;
}

.location-details, .city-map {
  vertical-align: middle;
}

.my-photo img{
  /*
  float: right;
  */
  border-radius: 200px;
  -webkit-border-radius: 200px; 
}

.city-map img {
  order-radius: 200px;
  -webkit-border-radius: 200px; 
}

.my-work {
  height: 400px;
  margin-bottom: 2em;
}

.my-details{
  margin-bottom: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.location-details ul, .my-description ul {
  list-style-type: none;
}